
<p class="router"><a href="/">Trang chủ</a> / Điện thoại</p>
<!-- product-title -->
<div class="product-title">
    <div class="product-title-left">
        <h1>@Model.NamePro</h1>
        <span>(No.00824253)</span>
    </div>
    <div class="product-title-right">
        <div class="rating-container">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <a href="">2505 đánh giá</a> |
        <a href="">969 Hỏi & đáp</a>
        <a href=""><i class="fa-solid fa-circle-plus"></i> So sánh</a>
    </div>
</div>

<!-- product-title -->
<!-- product-details-header -->
<div class="product-details-header">
    <div class="product-details-left">
        <div class="background-product-details">
            <img src="~/Content/Images/@Model.ImagePro"
                 alt="@Model.NamePro">
        </div>
        <div class="product-details-function-bar">
            <div class="function-item">
                <i class="fa-regular fa-image"></i>
                <span>Xem thêm 13 ảnh</span>
            </div>
            <div class="function-item">
                <i class="fa-brands fa-youtube"></i>
                <span>Video trên tay</span>
            </div>
            <div class="function-item">
                <i class="fa-solid fa-gift"></i>
                <span title="Thông tin tài khoản">Trong hộp có gì</span>
            </div>
            <div class="function-item">
                <i class="fa-regular fa-circle"></i>
                <span>Ảnh 360 độ</span>
            </div>
        </div>
        <div class="technical-specifications">
            <ul>
                <li><i class="fa-solid fa-mobile-screen"></i> @Model.Screen</li>
                <li><i class="fa-solid fa-camera-rotate"></i> @Model.Camera</li>
                <li><i class="fa-solid fa-image"></i> @Model.CameraSelfie</li>
                <li><i class="fa-solid fa-microchip"></i> @Model.CPU</li>
                <li><i class="fa-solid fa-hard-drive"></i> @Model.Store GB</li>
                <li><a href="#">Xem chi tiết thông số kỹ thuật</a></li>

            </ul>
        </div>
        <div class="policy">
            <div class="policy-item">
                <p><i class="fa-solid fa-medal"></i> Hàng chính hãng - Bảo hành 12 Tháng</p>
            </div>
            <div class="policy-item">
                <p> <i class="fa-solid fa-truck-fast"></i> Giao hàng toàn quốc</p>
            </div>
        </div>
    </div>
    <div class="product-details-right">
        <div class="product-details-price">

            <div class="product-details-price-left">
                @Model.Price<span>đ</span>
            </div>
            <div class="product-details-price-right">
                <span>Trả góp chỉ từ</span>
                <span><strong>515.000 <span class="underline">đ</span></strong> /tháng</span>
            </div>
        </div>

        <div class="plus-gold">
            <span>F</span>
            <strong>+772 FGold dự kiến</strong>
            <i class="fa-solid fa-circle-info"></i>
        </div>
        <div class="image-ads">
            <img src="https://image.useinsider.com/fptshop/defaultImageLibrary/D1-1696557991.png" alt="">
        </div>
        <div class="promotion-special">
            <div class="title">
                Nhận ngay khuyến mãi đặc biệt
            </div>
            <div class="promotion-body">
                <ul>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Đổi điện thoại cũ 2G/máy hư hỏng giảm ngay 300.000đ <a href="#">Xem chi tiết</a></div></li>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Trả góp 0%</div></li>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Giảm 50% củ sạc nhanh 25W <a href="#">Xem chi tiết</a></div></li>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Trả góp 0% trả trước từ 0đ qua Samsung Finance+ áp dụng tại 67 cửa hàng. <a href="#">Xem chi tiết</a></div></li>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Thu cũ đổi mới trợ giá ngay 15% đến 2 triệu (MintPro) <a href="#">Xem chi tiết</a></div></li>
                    <li><i class="fa-solid fa-circle-check"></i> <div>Mua Sim MobiFone Chất Chơi 1T kèm máy điện thoại giảm ngay 100.000đ, có ngay 5GB data/ ngày</div></li>
                </ul>
            </div>
        </div>
        <div class="box-feature">
            <ul>
                <li>
                    <label for=""><img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://s3-sgn09.fptcloud.com/ict-k8s-promotion-prod/images-promotion/Zalopay-1693187470025.png" alt=""></label> <div class="text">
                        <p>Ví ZaloPay</p>
                        <span>Nhập mã FPTSHOP200 giảm 1% tối đa 200.000 đồng khi thanh toán 100% qua ZaloPay <a href="">Xem chi tiết</a></span>
                    </div>
                </li>
                <li>
                    <label for=""><img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://s3-sgn09.fptcloud.com/ict-k8s-promotion-prod/images-promotion/OCB-1695659775285.png" alt=""></label> <div class="text">
                        <span>Ưu đãi dành cho chủ thẻ OCB: Giảm thêm 500.000đ khi thanh toán Online 100% <a href="">Xem chi tiết</a></span>
                    </div>
                </li>
                <li>
                    <label for=""><img src="https://images.fpt.shop/unsafe/fit-in/80x80/filters:quality(90):fill(white)/https://s3-sgn09.fptcloud.com/ict-k8s-promotion-prod/images-promotion/t%E1%BA%A3i%20xu%E1%BB%91ng-1695965883711.png" alt=""></label> <div class="text">
                        <p>Thanh toán qua Kredivo</p>
                        <span>Giảm ngay 5% tối đa 200.000 đồng khi thanh toán trả góp 6/12 tháng qua Kredivo <a href="">Xem chi tiết</a></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="product-details-button">
            <form action="@Url.Action("AddToCart", "Home")" method="post">
                <input type="hidden" name="productId" value="@Model.ProductID" />
                <button type="submit">
                    Mua ngay
                    <p>Giao hàng miễn phí hoặc nhận tại shop</p>
                </button>
            </form>

        </div>
        <div class="group-button-product-details">
            <button>
                Trả góp
                <p>Duyệt nhanh qua điện thoại</p>
            </button>
            <button>
                Mua ngay
                <p>Visa, Master Card, JCB, AMEX</p>
            </button>
        </div>
        <div class="hotline-location">
            <p>Gọi <span>1800-6601</span> để được tư vấn mua hàng (Miễn phí)</p>
            <a href=""><i class="fa-solid fa-location-dot"></i> Tìm shop có hàng gần nhất</a>
        </div>
    </div>
</div>


